@using PcBuilder.Web.ViewModels.Product
@model PcBuilder.Web.ViewModels.Product.ProductDetailsViewModel

<link rel="stylesheet" href="~/css/ProductDetails.css" />

<div class="product-details-container">
	<h2>@Model.ProductName</h2>

	<img src="@Model.ImageUrl" alt="@Model.ProductName" />
	<p><strong>Price:</strong> @Model.ProductPrice.ToString("C")</p>
	<p><strong>Category:</strong> @Model.Category</p>
	<p><strong>Added On:</strong> @Model.AddedOn.ToString()</p>
	<p><strong>Stock Quantity:</strong> @Model.StockQuantity</p>
	<p><strong>Manufacturer:</strong> @Model.ManufacturerName</p>
	<p><strong>Description:</strong> @Model.ProductDescription</p>

	<a asp-action="Index" class="btn">Back to All Products</a>
</div>